// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
<<<<<<< HEAD
.cc-button {
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  outline: 0;
  padding: 7px 20px;
  &--outline {
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  &--primary {
    background: #ea725b;
    border-radius: 5px;
  }
}
=======
>>>>>>> master
