.BannerCardBackground {
  background-image: url("../../assets/img/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 384px;
  padding: 20px;
  color: #ffffff;
}

.BannerCardText {
  position: absolute;
  bottom: 10%;
}

.BannerCardText h1 {
  color: #ffffff;
}
