.featureCard {
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 14px 14px 5px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 14px 14px 5px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 14px 14px 5px -6px rgba(0, 0, 0, 0.12);
}
.avatarDiv {
  background: rgba(234, 114, 91, 0.1);
  padding: 30px;
  width: 120px;
  margin: 10px auto;
  border-radius: 5px;
}
